/* color */
:root {
    --primary: #64ffda;
    --secondary: #747e9b;
    --tertiary: #0a192f;
    --menu-color: #ccd6f6;
    --btn-hover: #133040;
}

/* normalize css */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3 {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background: var(--tertiary);
    color: var(--secondary);
}

.btn {
    display: inline-block;
    border: 1px solid var(--primary);
    padding: 16px 40px;
    color: var(--primary);
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: var(--btn-hover);
}

/* utilities */
.d-flex {
    display: flex;
}

/* =========== HEADER AREA CSS  ==================*/
.header {
    padding: 20px 15px;
}
/* logo */
.logo a {
    display: block;
}

.logo {
    width: 40px;
}
/* menu css */
.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li a {
    display: inline-block;
    padding: 13px;
    font-size: 16px;
    font-weight: 400;
    color: var(--menu-color);
    transition: 0.3s;
}

.menu ul li a:hover {
    color: var(--primary);
}

.menu ul li {
    margin: 0 5px;
}

/* =========== HERO AREA CSS  ==================*/
.hero__lead {
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--primary);
}

h1.hero__title {
    font-size: 70px;
    color: var(--menu-color);
}

h2.hero__title {
    font-size: 70px;
    margin-bottom: 30px;
    color: var(--secondary);
}

.hero_text {
    max-width: 515px;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 30px;
}

/* =========== CONNECT CSS  ==================*/
.connect {
    position: fixed;
    bottom: 0;
    writing-mode: vertical-lr;
}

.connect--left {
    left: 40px;
    right:auto;
}

.connect--right {
    right: 40px;
    left: auto;
}

.connect__box {
    display: flex;
    align-items: center;
}

.connect__email {
    color: var(--secondary);
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    transition: 0.3s;
}

.connect__box::after {
    content: '';
    width: 1px;
    height: 90px;
    background: var(--secondary);
    display: block;
    margin: 0px auto;
}

/* connect social */
.connect__social {
    display: flex;
    align-items: center;
}

.connect__social li:last-child {
    margin-bottom: 10px;
}

.connect__social a {
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}

.connect__social svg {
    width: 20px;
    fill: none;
    stroke: var(--secondary);
    transition: 0.3s;
}

.connect__social li a:hover,
.connect__email:hover  {
    transform: translateY(-3px);
    color: var(--primary);
}

.connect__social svg:hover path {
    stroke: var(--primary)
}
.connect__social svg:hover rect {
    stroke: var(--primary)
}
.connect__social svg:hover circle {
    stroke: var(--primary)
}

/* =========== ABOUT AREA CSS  ==================*/
.about {
    margin-top: 160px;
}

.container--about {
    max-width: 900px;
}

.section__title {
    font-size: 30px;
    color: var(--menu-color);
    margin-bottom: 40px;
    position: relative;
}

.section__title::after {
    content: '';
    width: 300px;
    height: 0.5px;
    background: var(--secondary);
    position: absolute;
    top: 50%;
    right: auto;
    transform: translateY(-50%);
    margin-left: 26px;
}

.about-inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
    align-items: flex-start;
}

.about-text P {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
}

.skill-set {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    margin-bottom: 30px;
}

.skill-set li {
    position: relative;
}

.skill-set li::before {
    content: '-- ';
}

.about-img {
    position: relative;
    background-color: var(--primary);
    border-radius: 5px;
}

.about-img img {
    width: auto;
    height: auto;
    object-fit: cover;
    display: flex;
    border-radius: 5px;
    mix-blend-mode: multiply;
    transition: 0.3s;
}

.about-img::after {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid var(--primary);
    top: 25px;
    display: block;
    position: absolute;
    left: 25px;
    border-radius: 5px;
    z-index: -1;
    transition: 0.3s;
}

.about-img img:hover  {
    mix-blend-mode: normal;
}

.about-img:hover::after{
    top: 20px;
    left: 20px;
}

/* =========== EXPERIENCE AREA CSS  ==================*/
.experience {
    margin-top: 160px;
}


.experience-inner {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.position h3 {
    margin-bottom: 12px;
    color: var(--menu-color);
}

.position span {
    margin-bottom: 25px;
    display: inline-block;
}

.position ul li {
    margin-bottom: 10px;
}

.position ul li:before {
    content: '▹';
    color: var(--primary);
    margin-right: 15px;
    font-size: 20px;
}